<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Principal</div>
        <a class="nav-link" href="/home">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Home
        </a>
        
        <div>
          <div class="sb-sidenav-menu-heading">Módulos PetCare</div>
          
          <a class="nav-link" href="/tutores">
            <div class="sb-nav-link-icon">
              <i class="fas fa-user-friends"></i> </div>
            Tutores
          </a>

          <a class="nav-link" href="/pets">
            <div class="sb-nav-link-icon">
              <i class="fas fa-paw"></i> </div>
            Pets
          </a>
          
          <a class="nav-link" href="/servicos">
            <div class="sb-nav-link-icon">
              <i class="fas fa-handshake"></i> </div>
            Serviços
          </a>

          <a class="nav-link" href="/petservicos">
            <div class="sb-nav-link-icon">
              <i class="fas fa-calendar-check"></i> </div>
            Atendimentos
          </a>

        </div>
        </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Bem vindo:</div>
      {{ parametros.userName }}      
    </div>
  </nav>
</div>